* {
  box-sizing: border-box;
}

.flame{
  height: 100vh;
  width: 100vw;
  .upper-box{
    height: 30%;
    width: 100%;
  }
  .middle-box{
    height: 40%;
    width: 100%;
    background-image: radial-gradient(circle,yellow,green);
    a{
      height: 40px;
      width: 100px;
      background-color:orange;
      text-decoration: none;
      font-size: 20px;
      margin: 0 20px;
    }
    .dum-box{
      height: 20px;
      background-color: palevioletred;
      display: flex;
      justify-content: space-between;
      margin: 20px 60px 0;
    }
    .state{
      height: 180px;
      background-color: papayawhip;
      border-style: solid;
      margin: 0 60px;
      p{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 4;
      }
    }
  }
  .under-box{
    height: 30%;
    width: 100%;
    background-color:burlywood;
    padding-top: 60px;
    .take-reservation{
      text-align:center;
      input{
        height: 100px;
        width: 200px;
        font-size: 30px;
        background: #668ad8;/*ボタン色*/
        color: #FFF;
        border-bottom: solid 4px #627295;
        border-radius: 3px
      }
    }
    
  }




}