.wrapper-r{
  height: 100vh;
  width: 100vw;
  background-color: mediumaquamarine;
  .page-title{
    height: 10%;
    width: 100%;
    background-color: mediumvioletred;
    font-size: 40px;
  }
  .edit-flame{
    display: flex;
    .side-ber{

    }
    .main{
  
      .table-title{
  
      }
      .record-box{
  
        .record{
  
        }
      }
    }
  }
  
}